eip-etech-PubSub-apis/eip-notification-api/src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    

  
    <apikit:config name="ux-notifications-informaim-config" api="ux-notifications-informaim.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
  
  
  
  
  
    <flow name="ux-notifications-informaim-main">
        <http:listener path="/api/{api.version}/*" config-ref="ux-notifications-informaim-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="new-relic-attributes-registration" doc:id="aa41ba1b-85ab-4962-90cf-8b28518ef456">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="attributes-for-newrelic"><![CDATA[%dw 2.0
output application/json
---
{
   "endpoint": attributes.requestPath,
   "method": attributes.method
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<apikit:router config-ref="ux-notifications-informaim-config" />
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": {
        "code": 400,
        "message": error.errorType.identifier,
    description: error.description,
        "correlationId": correlationId,
        "dateTime": now()
    }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---

{
    "error": {
        "code": 404,
        "message":  error.errorType.identifier,
    description: error.description,
        "correlationId": correlationId,
        "dateTime": now()
    }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": {
        "code": 405,
        "message":  error.errorType.identifier,
    description: error.description,
        "correlationId": correlationId,
        "dateTime": now()
    }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": {
        "code": 406,
        "message":  error.errorType.identifier,
    	description: error.description,
        "correlationId": correlationId,
        "dateTime": now()
    }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "error": {
        "code": 415,
        "message":  error.errorType.identifier,
    description: error.description,
        "correlationId": correlationId,
        "dateTime": now()
    }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
//{message: "Not Implemented"}
{
    "error": {
        "code": 501,
        "message":  error.errorType.identifier,
    description: error.description,
        "correlationId": correlationId,
        "dateTime": now()
    }
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <flow name="post:\notifications:application\json:ux-notifications-informaim-config">
		<flow-ref doc:name="post-notifications" doc:id="9a109cad-1562-4281-80e7-cfc755d13ac4" name="post-notifications"/>
    </flow>
</mule>
